.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  background-color: $dark-blue;
  border:none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  color: $off-white;
  flex-grow: 1;
  padding: $m-size;
  margin-right: $s-size;
}

.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: 0;
  padding: $m-size;
  padding-bottom: 0;
}