.option {
  display: flex;
  justify-content: space-between;
  padding: $m-size;
  border-bottom: lighten($blue,10%) solid 0.1rem;
}

.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}